.stylus-overwrite-color {
  font-size: 20px !important;
}
#stylus-tests {
  zoom: 1;
}
.stylus-dashy-left-border {
  border-left: 1px dashed #000;
}
.stylus-overwrite-size {
  font-size: 10px;
}
.stylus-import-dashy-border {
  border-left: 1px dashed #000;
}
